body{
  
    box-sizing: border-box;
    margin: 0;
    padding: 0;


  background-color: var(--background-color);
  color: var(--text-color);

  scrollbar-color: var(--accent-color) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-padding-right: -30px;
  


}

body *{
  transition: all 0.3s;
}

#banner{
    background-color: var(--complementary);
    width: 100%;
    height: calc(25vh + 65px);
    background-image: url("../debug/car.jpg");
    background-size: cover;
    background-position: center top 60px;
    transition: 0.1s;
}
main{
  padding: 0 25px;
  margin: 0;
  background-color: var(--background-color);
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}


.profile-header {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  margin: 0;
  
  margin-top: -25px;
  box-sizing: border-box;
}


.fortheflex{
  display: flex;
  
  gap: 20px;
  flex-flow: row nowrap;
  align-items: end;
}



.pfp {
  width: 120px;
  aspect-ratio: 1/1;
  background-color: var(--accent-color);
  border-radius: 20px;
  border: 4px solid var(--background-color) !important; /* Dinamikusan vált dark mode-ban is! */
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  margin: 0;
  padding: 0;
}

/* Infók konténere: 2 egymás alatti sor */
.profile-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  padding-bottom: 6px; /* Hogy szép egy vonalban legyen a kép aljával */
}

/* Egy-egy sor elrendezése (bal és jobb oldalra tolja az elemeket) */
.row {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  width: 100%;
}

/* Felső sor stílusai */
.display {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--text-color);
}



/* Alsó sor stílusai */
.handle {
  color: #8a8a8a;
  font-size: 0.9rem;
}

.swapslots {
  font-size: 0.9rem;
  color: var(--text-color);
  opacity: 0.8;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 6px;
  width: 100%;
}

.buttons *{
   font-size: 1.1em;
  min-width: 70px;
  width: 100%;
  padding: 8px;
  flex: 1;
}



main section:not(.profile-header){
  position: relative;
  background-color: var(--complementary);
  border: 2px solid var(--accent-color);
  margin: 0;
  border-radius: 25px;
  padding: 10px;
  align-content: start !important;
  overflow: hidden;
  
}

.profile-header, .tags{
  grid-column: span 3;
}

.bio{
  grid-column: span 2;
  height: 0;
  min-height: 100%;
}

.socials{
  grid-column: span 1;
}

.portfolio, .swaps{
  grid-column: span 3;
  height: 300px;
}

main section:not(.profile-header) p{
  padding: 0 10px;
}

main section:not(.profile-header) h2{
  position: relative;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
  background-image: linear-gradient(to bottom, var(--complementary), var(--complementary), #ffffff00);

}

.buttonbg{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: max-content;
  padding: 10px;
  background-image: linear-gradient(to top, var(--complementary), var(--complementary), #ffffff00);
  display: flex;
  justify-content: center;
}
.buttonbg button{
  height: 35px;
  width: 150px;
  font-size: 0.9rem;

}

.open{
  height: max-content;
  min-height: 0;
  grid-column: span 3; /* ? */
}
.open .buttonbg{
  position: relative;
  background: none;
  margin: 0;
  padding: 0;
}

.images{
  background-color: var(--background-color);
  height: 800px;
  border-radius: 25px;
  margin: 10px;
}



@media (max-width: 800px) {

  .profile-header {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-top: -15px;
    padding: 0 10px;
  }
  
  .buttons {
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    
  max-width: none;
    margin-top: 10px;
  }
  
  button{
    width: 30%;
  }

  

.username, .handle {
  text-overflow: ellipsis; /* Ha túl hosszú a név, csinos pontokat tesz a végére */
}


.pfp {
    width: 90px;
  }

  .top-row, .bottom-row{
    gap: 10px;
  }

  .top-row * {
    font-size: 3vw;
    
  }
  .bottom-row *{
    font-size: 1.67vw;
  }



}


@media (max-width: 800px) {

  main{
    grid-template-columns: repeat(2,1fr);
    align-items: stretch;
  }

  main section{
    grid-column: span 2 !important;
    grid-row: span 1;
    width: auto;
  }

  .profile-header{
    grid-column: span 2 !important;
  }

  .buttons{
    
  width: 100%;
  align-self: center;
  }
  
  

  .top-row * {
    font-size: 1rem;
    
  }
  .bottom-row *{
    font-size: 0.6rem;
  }

  .tags, .socials{
    grid-column: span 2 !important;
  }

  .bio{
    order: 1;
    height: 200px;
    min-height: 0;
  }
  .tags{
    order: 2;
  }
  .socials{
    order: 3;
  }
  .portfolio{
    order: 4;
  }
  .swaps{
    order: 5;
  }

  .portfolio, .swaps{
    height: 500px;
  }
}